html
    body
        h1 #{msg}
        p #{data} 
        form(action="/addpost"
             method="post")
            input(
                type='text'
                name = 'username'
                placeholder='Username'
            )
            input(
                type='text'
                name='password'
                placeholder = 'Password'
            )
            input(
                type = 'submit'
            )